.wx-titlebar-container
    position fixed
    top 0
    left 0 
    width 100%  
    display flex
    flex-flow row nowrap

    .wx-titlebar
        width 100%  
        border-bottom-one-px()
        height 44px
        background #ecebeb
        display flex
        flex-flow row nowrap
    
        .title-text
            flex 1
            color #000
            font-size 16px
            line-height 44px
            text-align center
            font-weight 500
        
        .left-button
            width 44px
            line-height: 44px
            text-align: center
            color #666666
            font-weight: 100
            font-size: 20px

        .right-button
            width 44px
            line-height: 44px
            text-align: center