.home-page
    .user-background-wall
        background: #ffffff
        height 365px
        position relative

        .wall-background-pic
            height 300px
            background #494949
            display flex
            flex-flow row nowrap
            align-items center
            justify-content center

            .change-button
                color #292929
                line-height: 80px
                font-size 15px
                text-shadow: 0.01em 0.04em #333;
        .user-name
            line-height: 18px
            font-size: 18px
            color: #fffbf2
            position absolute
            right 107px
            top: 270px
            text-shadow: 0.01em 0.1em #333;
        .user-avator
            height 70px
            width 70px
            border-radius: 10px
            background: #0084ff   
            position absolute
            right 12px
            top: 250px
        